body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
    font-family: Palatino, 'Palatino Linotype', serif;
    color: deepskyblue;
    color: #2e69a3;
}

h2 {
	font-size: 32px;
}

.hero {
	padding: 250px 0;
    margin: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    /*background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg"); */
    background-size: cover;
    color: #ffffff;
    }

p {
    font-size: 2rem;
    }

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
    font-size: 0.75rem;
  }

  .gallery-item {
    margin: 2px;
    border: 5px solid #FFF;
  }

  .page-description {
    border: 1px solid #000;
    text-align: center;
    padding: 30px;
  }

  li {
    margin: 0;
    padding: 0 10px;
    display: inline;
  }